body{
    background: url("https://images.pexels.com/photos/1499629/pexels-photo-1499629.jpeg") no-repeat center center fixed;
    background-size: cover;
}

h1{
	color:white;
	text-align: center;
	padding-top: 15%;
}

h2{
	color:white;
	text-align: center;
}

.headertxt{
	transition: all 1s;

}

.headertxt:hover{
	transform: scale(1.1);
}

.btn-primary{
	background-color: white;
	color: purple;
	font-weight: bold;
	margin-top: 10%;
	align-items: center;
	border: purple;
	padding: 10px 20px 10px 20px;
	border-radius: 20px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.btn-primary:hover{
	background-color: purple;
}

